img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.box {
    width: 200px;
    height: 250px;
    display: flex;
    display: inline-block;
    margin: 70px;
    flex-wrap: wrap;
    border-radius: 15px;
    border: solid 1px;
    text-align: center;
    justify-content: space-around;
}

body {
    text-align: center;
}